* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  background-color: #1f2937;
  color: white;
  max-width: 600px;
  margin: 0 auto;
}
